@import url(header.css);
@import url(form_homepage.css);
@import url(welcome.css);
html,
body {
    min-height: 100%;
    width: 98%;
    margin:auto
}

#info {
    float: left;
    width: 40%;
    margin-right: 1%;
}

#info dt {
    font-weight: bold;
    font-size: large;
}

img {
    width: 100%;
}

#promotion_information,
#info {
    border: solid 0.5px;
    border-radius: 0.375rem;
    padding: 0.5%;
}

footer p {
    padding: 0.5%;
    border: solid 0.5px;
    border-radius: 0.375rem;
    clear: both;
}

#right {
    width: 55%;
    float: right;
}

#Video1 {
    /* visibility: hidden; */
    width: 100%;
}



