#undo {
    color: black;
    text-decoration: none;
    width: fit-content;
    display: block;
    margin: auto;
}

#undo:visited {
    color: black;
    text-decoration: none;
}

#undo:active {
    color: black;
}